
.Vector-1{
  position: absolute;
  left: 0.07%;
  right: 86.31%;
  top: 0.05%;
  bottom: 89.97%;

}
.Group1{
  position: absolute;
width: 160.24px;
height: 137.35px;
left: 15.12px;
top: 12.89px;

}
.Group1-1{
  position: absolute;
width: 111.84px;
height: 125.39px;
left: 38.66px;
top: 39.06px;
}
.Vector-2{
  position: absolute;
width: 185.93px;
height: 196.56px;
left: 0.95px;
top: 200.34px;
}
.Group2{
  position: absolute;
width: 119.28px;
height: 121.72px;
left: 48.8px;
top: 244.76px;
}
.Vector-3{
  position: absolute;
width: 185.93px;
height: 197.51px;
left: 0.95px;
top: 396.91px;
}
.Group3{
  position: absolute;
width: 143.24px;
height: 134.19px;
left: 28.46px;
top: 429.99px;
}
.Group3-2{
  position: absolute;
width: 125.22px;
height: 127.58px;
left: 25.61px;
top: 417.7px;

}

.Group4{
  position: absolute;
width: 187px;
height: 196.56px;
left: 0px;
top: 595px;
}
.Group5{
  position: absolute;
width: 187.82px;
height: 187.11px;
left: 0px;
top: 788.15px;
}
.Group6{
  position: absolute;
width: 996.04px;
height: 82.22px;
left: 186.88px;
top: 892.1px;

}
.Group7{
  position: absolute;
width: 182px;
height: 199px;
left: 1183px;
top: 1px;
}
.Group7-1{
  position: absolute;
width: 133.75px;
height: 147.42px;
left: 1206.63px;
top: 31.19px;

}
.Group8{
  position: absolute;
width: 182.13px;
height: 197.51px;
left: 1182.92px;
top: 200.34px;
}
.Group8-2{
  position: absolute;
  width: 104.52px;
  height: 120.96px;
  left: 1221.72px;
  top: 238.62px;

}
.Group9{
  position: absolute;
width: 182.13px;
height: 196.56px;
left: 1182.92px;
top: 396.91px;

}
.Group9-1{
  position: absolute;
width: 180.24px;
height: 196.57px;
left: 1184.82px;
top: 397.85px;

}

.Group10{
  position: absolute;
width: 33.2px;
height: 30.24px;
left: 0.95px;
top: 974.32px;
}
.Group11{
  position: absolute;
width: 31.3px;
height: 30.24px;
left: 34.15px;
top: 974.32px;
}
.Group12{
  position: absolute;
width: 32.25px;
height: 30.24px;
left: 65.45px;
top: 974.32px;
}
.Group13{
  position: absolute;
width: 32.25px;
height: 30.24px;
left: 97.71px;
top: 974.32px;

}
.Group14{
  position: absolute;
width: 32.25px;
height: 30.24px;
left: 129.96px;
top: 974.32px;

}
.Group15{
  position: absolute;
width: 31.3px;
height: 30.24px;
left: 162.21px;
top: 974.32px;
}
.Group16{
  position: absolute;
width: 32.25px;
height: 30.24px;
left: 193.52px;
top: 974.32px;
}
.Group17{
  position: absolute;
width: 32.25px;
height: 30.24px;
left: 225.77px;
top: 974.32px;
}
.Group18{
  position: absolute;
width: 31.3px;
height: 30.24px;
left: 258.02px;
top: 974.32px;
}
.Group19{
  position: absolute;
width: 32.25px;
height: 30.24px;
left: 289.33px;
top: 974.32px;
}
.Group20{
  position: absolute;
width: 32.25px;
height: 30.24px;
left: 321.58px;
top: 974.32px;
}
.Group21{
  position: absolute;
width: 32.25px;
height: 30.24px;
left: 353.83px;
top: 974.32px;
}
.Group10-2{
  position: absolute;
width: 33.2px;
height: 30.24px;
left: 0.95px;
top: 1004.56px;

}
.Group11-2{
  position: absolute;
width: 31.3px;
height: 30.24px;
left: 34.15px;
top: 1004.56px;
}
.Group12-2{
  position: absolute;
width: 32.25px;
height: 30.24px;
left: 65.45px;
top: 1004.56px;
}
.Group13-2{
  position: absolute;
width: 32.25px;
height: 30.24px;
left: 97.71px;
top: 1004.56px;
}
.Group14-2{
  position: absolute;
width: 32.25px;
height: 30.24px;
left: 129.96px;
top: 1004.56px;
}
.Group15-2{
  position: absolute;
width: 31.3px;
height: 30.24px;
left: 162.21px;
top: 1004.56px;
}
.Group16-2{
  position: absolute;
width: 32.25px;
height: 30.24px;
left: 193.52px;
top: 1004.56px;
}
.Group17-2{
  position: absolute;
width: 32.25px;
height: 30.24px;
left: 225.77px;
top: 1004.56px;
}
.Group18-2{
  position: absolute;
width: 31.3px;
height: 30.24px;
left: 258.02px;
top: 1004.56px;
}
.Group19-2{
  position: absolute;
width: 32.25px;
height: 30.24px;
left: 289.33px;
top: 1004.56px;
}
.Group20-2{
  position: absolute;
width: 32.25px;
height: 30.24px;
left: 321.58px;
top: 1004.56px;
}
.Group21-2{
  position: absolute;
width: 32.25px;
height: 30.24px;
left: 353.83px;
top: 1004.56px;
}
.Group10-3{
  position: absolute;
width: 33.2px;
height: 30.24px;
left: 0.95px;
top: 1034.8px;
}
.Group11-3{
position: absolute;
width: 31.3px;
height: 30.24px;
left: 34.15px;
top: 1034.8px;
}
.Group12-3{
  position: absolute;
width: 32.25px;
height: 30.24px;
left: 65.45px;
top: 1034.8px;
}
.Group13-3{
  position: absolute;
width: 32.25px;
height: 30.24px;
left: 97.71px;
top: 1034.8px;
}
.Group14-3{
  position: absolute;
width: 32.25px;
height: 30.24px;
left: 129.96px;
top: 1034.8px;
}
.Group15-3{
  position: absolute;
width: 31.3px;
height: 30.24px;
left: 162.21px;
top: 1034.8px;
}
.Group16-3{
  position: absolute;
width: 32.25px;
height: 30.24px;
left: 193.52px;
top: 1034.8px;
}
.Group17-3{
  position: absolute;
width: 32.25px;
height: 30.24px;
left: 225.77px;
top: 1034.8px;
}
.Group18-3{
  position: absolute;
width: 31.3px;
height: 30.24px;
left: 258.02px;
top: 1034.8px;
}
.Group19-3{
  position: absolute;
width: 32.25px;
height: 30.24px;
left: 289.33px;
top: 1034.8px;
}
.Group20-3{
  position: absolute;
width: 32.25px;
height: 30.24px;
left: 321.58px;
top: 1034.8px;
}
.Group21-3{
  position: absolute;
width: 32.25px;
height: 30.24px;
left: 353.83px;
top: 1034.8px;
}
.Group10-4{
  position: absolute;
width: 33.2px;
height: 30.24px;
left: 0.95px;
top: 1065.04px;
}
.Group11-4{
  position: absolute;
width: 31.3px;
height: 30.24px;
left: 34.15px;
top: 1065.04px;
}
.Group12-4{
  position: absolute;
width: 32.25px;
height: 30.24px;
left: 65.45px;
top: 1065.04px;

}
.Group13-4{
  position: absolute;
width: 32.25px;
height: 30.24px;
left: 97.71px;
top: 1065.04px;

}
.Group14-4{
  position: absolute;
width: 32.25px;
height: 30.24px;
left: 129.96px;
top: 1065.04px;
}
.Group15-4{
  position: absolute;
width: 31.3px;
height: 30.24px;
left: 162.21px;
top: 1065.04px;
}
.Group16-4{
  position: absolute;
width: 32.25px;
height: 30.24px;
left: 193.52px;
top: 1065.04px;

}
.Group17-4{
  position: absolute;
width: 32.25px;
height: 30.24px;
left: 225.77px;
top: 1065.04px;

}
.Group18-4{
  position: absolute;
width: 31.3px;
height: 30.24px;
left: 258.02px;
top: 1065.04px;

}
.Group19-4{
  position: absolute;
width: 32.25px;
height: 30.24px;
left: 289.33px;
top: 1065.04px;
}
.Group20-4{
  position: absolute;
width: 32.25px;
height: 30.24px;
left: 321.58px;
top: 1065.04px;
}
.Group21-4{
  position: absolute;
width: 32.25px;
height: 30.24px;
left: 353.83px;
top: 1065.04px;
}
.Group10-5{
  position: absolute;
  width: 33.2px;
  height: 30.24px;
  left: 0.95px;
  top: 1095.28px;
}
.Group11-5{
  position: absolute;
  width: 31.3px;
  height: 30.24px;
  left: 34.15px;
  top: 1095.28px;
}
.Group12-5{
  position: absolute;
  width: 32.25px;
  height: 30.24px;
  left: 65.45px;
  top: 1095.28px;

}
.Group13-5{
  position: absolute;
  width: 32.25px;
  height: 30.24px;
  left: 97.71px;
  top: 1095.28px;
}
.Group14-5{
  position: absolute;
  width: 32.25px;
  height: 30.24px;
  left: 129.96px;
  top: 1095.28px;
}
.Group15-5{
  position: absolute;
  width: 31.3px;
  height: 30.24px;
  left: 162.21px;
  top: 1095.28px;

}
.Group16-5{
  position: absolute;
  width: 32.25px;
  height: 30.24px;
  left: 193.52px;
  top: 1095.28px;
}
.Group17-5{
  position: absolute;
  width: 32.25px;
  height: 30.24px;
  left: 225.77px;
  top: 1095.28px;
}
.Group18-5{
  position: absolute;
  width: 31.3px;
  height: 30.24px;
  left: 258.02px;
  top: 1095.28px;

}
.Group19-5{
  position: absolute;
  width: 32.25px;
  height: 30.24px;
  left: 289.33px;
  top: 1095.28px;
}
.Group20-5{
  position: absolute;
  width: 32.25px;
  height: 30.24px;
  left: 321.58px;
  top: 1095.28px;

}
.Group21-5{
  position: absolute;
width: 32.25px;
height: 30.24px;
left: 353.83px;
top: 1095.28px;

}

.Group10-6{
  position: absolute;
  width: 33.2px;
  height: 30.24px;
  left: 0.95px;
  top: 1125.52px;
}
.Group11-6{
  position: absolute;
  width: 31.3px;
  height: 30.24px;
  left: 34.15px;
  top: 1125.52px;
}


.Group12-6{
  position: absolute;
  width: 32.25px;
  height: 30.24px;
  left: 65.45px;
  top: 1125.52px;
}
.Group13-6{
  position: absolute;
  width: 32.25px;
  height: 30.24px;
  left: 97.71px;
  top: 1125.52px;

}
.Group14-6{
  position: absolute;
  width: 32.25px;
  height: 30.24px;
  left: 129.96px;
  top: 1125.52px;

}
.Group15-6{
  position: absolute;
  width: 31.3px;
  height: 30.24px;
  left: 162.21px;
  top: 1125.52px;
}
.Group16-6{
  position: absolute;
  width: 32.25px;
  height: 30.24px;
  left: 193.52px;
  top: 1125.52px;
}
.Group17-6{
  position: absolute;
  width: 32.25px;
  height: 30.24px;
  left: 225.77px;
  top: 1125.52px;

}
.Group18-6{
  position: absolute;
  width: 31.3px;
  height: 30.24px;
  left: 258.02px;
  top: 1125.52px;
}
.Group19-6{
  position: absolute;
  width: 32.25px;
  height: 30.24px;
  left: 289.33px;
  top: 1125.52px;
}
.Group20-6{
  position: absolute;
  width: 32.25px;
  height: 30.24px;
  left: 321.58px;
  top: 1125.52px;
}
.Group21-6{
  position: absolute;
  width: 32.25px;
  height: 30.24px;
  left: 353.83px;
  top: 1125.52px;
}
.Group10-7{
  position: absolute;
  width: 33.2px;
  height: 30.24px;
  left: 0.95px;
  top: 1155.76px;
}
.Group11-7{
  position: absolute;
  width: 31.3px;
  height: 30.24px;
  left: 34.15px;
  top: 1155.76px;
}
.Group12-7{
  position: absolute;
  width: 32.25px;
  height: 30.24px;
  left: 65.45px;
  top: 1155.76px;
}
.Group13-7{
  position: absolute;
  width: 32.25px;
  height: 30.24px;
  left: 97.71px;
  top: 1155.76px;

}
.Group14-7{
  position: absolute;
  width: 32.25px;
  height: 30.24px;
  left: 129.96px;
  top: 1155.76px;
}
.Group15-7{
  position: absolute;
  width: 31.3px;
  height: 30.24px;
  left: 162.21px;
  top: 1155.76px;

}
.Group16-7{
  position: absolute;
  width: 32.25px;
  height: 30.24px;
  left: 193.52px;
  top: 1155.76px;

}
.Group17-7{
  position: absolute;
  width: 32.25px;
  height: 30.24px;
  left: 225.77px;
  top: 1155.76px;

}
.Group18-7{
  position: absolute;
  width: 31.3px;
  height: 30.24px;
  left: 258.02px;
  top: 1155.76px;

}
.Group19-7{
  position: absolute;
  width: 32.25px;
  height: 30.24px;
  left: 289.33px;
  top: 1155.76px;
}
.Group20-7{
  position: absolute;
  width: 32.25px;
  height: 30.24px;
  left: 321.58px;
  top: 1155.76px;
}
.Group21-7{
  position: absolute;
  width: 32.25px;
  height: 30.24px;
  left: 353.83px;
  top: 1155.76px;
}
.Group10-8{
  position: absolute;
  width: 33.2px;
  height: 30.24px;
  left: 0.95px;
  top: 1186px;
}
.Group11-8{
  position: absolute;
  width: 31.3px;
  height: 30.24px;
  left: 34.15px;
  top: 1186px;

}
.Group12-8{
  position: absolute;
  width: 32.25px;
  height: 30.24px;
  left: 65.45px;
  top: 1186px;

}
.Group13-8{
  position: absolute;
  width: 32.25px;
  height: 30.24px;
  left: 97.71px;
  top: 1186px;
}
.Group14-8{
  position: absolute;
  width: 32.25px;
  height: 30.24px;
  left: 129.96px;
  top: 1186px;

}
.Group15-8{
  position: absolute;
  width: 31.3px;
  height: 30.24px;
  left: 162.21px;
  top: 1186px;
}
.Group16-8{
  position: absolute;
  width: 32.25px;
  height: 30.24px;
  left: 193.52px;
  top: 1186px;

}
.Group17-8{
  position: absolute;
  width: 32.25px;
  height: 30.24px;
  left: 225.77px;
  top: 1186px;

}
.Group18-8{
  position: absolute;
  width: 31.3px;
  height: 30.24px;
  left: 258.02px;
  top: 1186px;
}
.Group19-8{
  position: absolute;
  width: 32.25px;
  height: 30.24px;
  left: 289.33px;
  top: 1186px;
}
.Group20-8{
  position: absolute;
  width: 32.25px;
  height: 30.24px;
  left: 321.58px;
  top: 1186px;

}
.Group21-8{
  position: absolute;
  width: 32.25px;
  height: 30.24px;
  left: 353.83px;
  top: 1186px;

}
.Group10-9{
  position: absolute;
  width: 33.2px;
  height: 30.24px;
  left: 0.95px;
  top: 1216.25px;
}
.Group11-9{
  position: absolute;
  width: 31.3px;
  height: 30.24px;
  left: 34.15px;
  top: 1216.25px;

}.Group12-9{
  position: absolute;
  width: 32.25px;
  height: 30.24px;
  left: 65.45px;
  top: 1216.25px;
}
.Group13-9{
  position: absolute;
  width: 32.25px;
  height: 30.24px;
  left: 97.71px;
  top: 1216.25px;
}
.Group14-9{
  position: absolute;
  width: 32.25px;
  height: 30.24px;
  left: 129.96px;
  top: 1216.25px;

}
.Group15-9{
  position: absolute;
  width: 31.3px;
  height: 30.24px;
  left: 162.21px;
  top: 1216.25px;

}
.Group16-9{
  position: absolute;
  width: 32.25px;
  height: 30.24px;
  left: 193.52px;
  top: 1216.25px;

}
.Group17-9{
  position: absolute;
  width: 32.25px;
  height: 30.24px;
  left: 225.77px;
  top: 1216.25px;
}
.Group18-9{
  position: absolute;
  width: 31.3px;
  height: 30.24px;
  left: 258.02px;
  top: 1216.25px;
}
.Group19-9{
  position: absolute;
  width: 32.25px;
  height: 30.24px;
  left: 289.33px;
  top: 1216.25px;
}
.Group20-9{
  position: absolute;
  width: 32.25px;
  height: 30.24px;
  left: 321.58px;
  top: 1216.25px;

}
.Group21-9{
  position: absolute;
  width: 32.25px;
  height: 30.24px;
  left: 353.83px;
  top: 1216.25px;

}
.Group22{
  position: absolute;
width: 592.88px;
height: 274.39px;
left: 386.08px;
top: 974.32px;

}
.Group23{
  position: absolute;
width: 32.25px;
height: 29.3px;
left: 978.97px;
top: 974.32px;
}
.Group24{
  position: absolute;
width: 32.25px;
height: 29.3px;
left: 1011.22px;
top: 974.32px;
}
.Group25{
  position: absolute;
  width: 31.3px;
  height: 29.3px;
  left: 1043.47px;
  top: 974.32px;

}
.Group26{
  position: absolute;
  width: 32.25px;
  height: 29.3px;
  left: 1074.78px;
  top: 974.32px;

}
.Group27{
  position: absolute;
  width: 32.25px;
  height: 29.3px;
  left: 1107.03px;
  top: 974.32px;
}
.Group28{
  position: absolute;
  width: 32.25px;
  height: 29.3px;
  left: 1139.28px;
  top: 974.32px;

}
.Group29{
  position: absolute;
  width: 31.3px;
  height: 29.3px;
  left: 1171.54px;
  top: 974.32px;

}
.Group30{
  position: absolute;
  width: 32.25px;
  height: 29.3px;
  left: 1202.84px;
  top: 974.32px;

}
.Group31{
  position: absolute;
  width: 32.25px;
  height: 29.3px;
  left: 1235.09px;
  top: 974.32px;

}
.Group32{
  position: absolute;
  width: 31.3px;
  height: 29.3px;
  left: 1267.34px;
  top: 974.32px;
}
.Group33{
  position: absolute;
  width: 32.25px;
  height: 29.3px;
  left: 1298.65px;
  top: 974.32px;

}
.Group34{
  position: absolute;
  width: 34.15px;
  height: 29.3px;
  left: 1330.9px;
  top: 974.32px;

}
.Group23-2{
  position: absolute;
  width: 32.25px;
  height: 30.24px;
  left: 978.97px;
  top: 1003.61px;
}
.Group24-2{
  position: absolute;
  width: 32.25px;
  height: 30.24px;
  left: 1011.22px;
  top: 1003.61px;

}
.Group25-2{
  position: absolute;
  width: 31.3px;
  height: 30.24px;
  left: 1043.47px;
  top: 1003.61px;
}
.Group26-2{
  position: absolute;
  width: 32.25px;
  height: 30.24px;
  left: 1074.78px;
  top: 1003.61px;

}
.Group27-2{
  position: absolute;
  width: 32.25px;
  height: 30.24px;
  left: 1107.03px;
  top: 1003.61px;

}
.Group28-2{
  position: absolute;
  width: 32.25px;
  height: 30.24px;
  left: 1139.28px;
  top: 1003.61px;

}
.Group29-2{
  position: absolute;
  width: 31.3px;
  height: 30.24px;
  left: 1171.54px;
  top: 1003.61px;
}
.Group30-2{
  position: absolute;
  width: 32.25px;
  height: 30.24px;
  left: 1202.84px;
  top: 1003.61px;

}
.Group31-2{
  position: absolute;
  width: 32.25px;
  height: 30.24px;
  left: 1235.09px;
  top: 1003.61px;

}
.Group32-2{
  position: absolute;
  width: 31.3px;
  height: 30.24px;
  left: 1267.34px;
  top: 1003.61px;

}
.Group33-2{
  position: absolute;
  width: 32.25px;
  height: 30.24px;
  left: 1298.65px;
  top: 1003.61px;

}
.Group34-2{
  position: absolute;
  width: 34.15px;
  height: 30.24px;
  left: 1330.9px;
  top: 1003.61px;

}
.Group23-3{
  position: absolute;
  width: 32.25px;
  height: 30.24px;
  left: 978.97px;
  top: 1033.86px;
}
.Group24-3{
  position: absolute;
  width: 32.25px;
  height: 30.24px;
  left: 1011.22px;
  top: 1033.86px;

}
.Group25-3{
  position: absolute;
  width: 31.3px;
  height: 30.24px;
  left: 1043.47px;
  top: 1033.86px;

}
.Group26-3{
  position: absolute;
  width: 32.25px;
  height: 30.24px;
  left: 1074.78px;
  top: 1033.86px;
}
.Group27-3{
  position: absolute;
  width: 32.25px;
  height: 30.24px;
  left: 1107.03px;
  top: 1033.86px;

}
.Group28-3{
  position: absolute;
  width: 32.25px;
  height: 30.24px;
  left: 1139.28px;
  top: 1033.86px;

}

.Group29-3{
  position: absolute;
  width: 31.3px;
  height: 30.24px;
  left: 1171.54px;
  top: 1033.86px;
}
.Group30-3{
  position: absolute;
  width: 32.25px;
  height: 30.24px;
  left: 1202.84px;
  top: 1033.86px;

}
.Group31-3{
  position: absolute;
  width: 32.25px;
  height: 30.24px;
  left: 1235.09px;
  top: 1033.86px;

}
.Group32-3{
  position: absolute;
  width: 31.3px;
  height: 30.24px;
  left: 1267.34px;
  top: 1033.86px;
}
.Group33-3{
  position: absolute;
  width: 32.25px;
  height: 30.24px;
  left: 1298.65px;
  top: 1033.86px;

}
.Group34-3{
  position: absolute;
  width: 34.15px;
  height: 30.24px;
  left: 1330.9px;
  top: 1033.86px;
}
.Group23-4{
  position: absolute;
  width: 32.25px;
  height: 30.24px;
  left: 978.97px;
  top: 1064.1px;

}
.Group24-4{
  position: absolute;
  width: 32.25px;
  height: 30.24px;
  left: 1011.22px;
  top: 1064.1px;

}
.Group25-4{
  position: absolute;
  width: 31.3px;
  height: 30.24px;
  left: 1043.47px;
  top: 1064.1px;

}
.Group26-4{
  position: absolute;
  width: 32.25px;
  height: 30.24px;
  left: 1074.78px;
  top: 1064.1px;

}
.Group27-4{
  position: absolute;
  width: 32.25px;
  height: 30.24px;
  left: 1107.03px;
  top: 1064.1px;

}
.Group28-4{
  position: absolute;
  width: 32.25px;
  height: 30.24px;
  left: 1139.28px;
  top: 1064.1px;

}
.Group29-4{
  position: absolute;
  width: 31.3px;
  height: 30.24px;
  left: 1171.54px;
  top: 1064.1px;
}
.Group30-4{
  position: absolute;
  width: 32.25px;
  height: 30.24px;
  left: 1202.84px;
  top: 1064.1px;
}
.Group31-4{
  position: absolute;
  width: 32.25px;
  height: 30.24px;
  left: 1235.09px;
  top: 1064.1px;
}
.Group32-4{
  position: absolute;
  width: 31.3px;
  height: 30.24px;
  left: 1267.34px;
  top: 1064.1px;

}
.Group33-4{
  position: absolute;
  width: 32.25px;
  height: 30.24px;
  left: 1298.65px;
  top: 1064.1px;

}
.Group34-4{
  position: absolute;
  width: 34.15px;
  height: 30.24px;
  left: 1330.9px;
  top: 1064.1px;

}
.Group23-4{
  position: absolute;
  width: 32.25px;
  height: 30.24px;
  left: 978.97px;
  top: 1094.34px;

}
.Group24-4{
  position: absolute;
  width: 32.25px;
  height: 30.24px;
  left: 1011.22px;
  top: 1094.34px;
}
.Group25-4{
  position: absolute;
  width: 31.3px;
  height: 30.24px;
  left: 1043.47px;
  top: 1094.34px;
}
.Group26-4{
  position: absolute;
  width: 32.25px;
  height: 30.24px;
  left: 1074.78px;
  top: 1094.34px;
}
.Group27-4{
  position: absolute;
  width: 32.25px;
  height: 30.24px;
  left: 1107.03px;
  top: 1094.34px;
}
.Group28-4{
  position: absolute;
  width: 32.25px;
  height: 30.24px;
  left: 1139.28px;
  top: 1094.34px;
}
.Group29-4{
  position: absolute;
  width: 31.3px;
  height: 30.24px;
  left: 1171.54px;
  top: 1094.34px;

}
.Group30-4{
  position: absolute;
  width: 32.25px;
  height: 30.24px;
  left: 1202.84px;
  top: 1094.34px;

}
.Group31-4{
  position: absolute;
  width: 32.25px;
  height: 30.24px;
  left: 1235.09px;
  top: 1094.34px;
}
.Group32-4{
  position: absolute;
  width: 31.3px;
  height: 30.24px;
  left: 1267.34px;
  top: 1094.34px;

}
.Group33-4{
  position: absolute;
  width: 32.25px;
  height: 30.24px;
  left: 1298.65px;
  top: 1094.34px;
}
.Group34-4{
  position: absolute;
  width: 34.15px;
  height: 30.24px;
  left: 1330.9px;
  top: 1094.34px;

}
.Group23-5{
  position: absolute;
  width: 32.25px;
  height: 30.24px;
  left: 978.97px;
  top: 1124.58px;

}
.Group24-5{
  position: absolute;
  width: 32.25px;
  height: 30.24px;
  left: 1011.22px;
  top: 1124.58px;
}
.Group25-5{
  position: absolute;
  width: 31.3px;
  height: 30.24px;
  left: 1043.47px;
  top: 1124.58px;

}
.Group26-5{
  position: absolute;
  width: 32.25px;
  height: 30.24px;
  left: 1074.78px;
  top: 1124.58px;

}
.Group27-5{
  position: absolute;
  width: 32.25px;
  height: 30.24px;
  left: 1107.03px;
  top: 1124.58px;
}
.Group28-5{
  position: absolute;
  width: 32.25px;
  height: 30.24px;
  left: 1139.28px;
  top: 1124.58px;

}
.Group29-5{
  position: absolute;
  width: 31.3px;
  height: 30.24px;
  left: 1171.54px;
  top: 1124.58px;

}
.Group30-5{
  position: absolute;
  width: 32.25px;
  height: 30.24px;
  left: 1202.84px;
  top: 1124.58px;

}
.Group31-5{
  position: absolute;
  width: 32.25px;
  height: 30.24px;
  left: 1235.09px;
  top: 1124.58px;

}
.Group32-5{
  position: absolute;
  width: 31.3px;
  height: 30.24px;
  left: 1267.34px;
  top: 1124.58px;

}
.Group33-5{
  position: absolute;
  width: 32.25px;
  height: 30.24px;
  left: 1298.65px;
  top: 1124.58px;

}
.Group34-5{
  position: absolute;
  width: 34.15px;
  height: 30.24px;
  left: 1330.9px;
  top: 1124.58px;
}
.Group23-6{
  position: absolute;
  width: 32.25px;
  height: 30.24px;
  left: 978.97px;
  top: 1064.1px;
}
.Group24-6{
  position: absolute;
  width: 32.25px;
  height: 30.24px;
  left: 1011.22px;
  top: 1064.1px;

}
.Group25-6{
  position: absolute;
  width: 31.3px;
  height: 30.24px;
  left: 1043.47px;
  top: 1064.1px;

}
.Group26-6{
  position: absolute;
  width: 32.25px;
  height: 30.24px;
  left: 1074.78px;
  top: 1064.1px;

}
.Group27-6{
  position: absolute;
  width: 32.25px;
  height: 30.24px;
  left: 1107.03px;
  top: 1064.1px;

}

.Group28-6{
  position: absolute;
  width: 32.25px;
  height: 30.24px;
  left: 1139.28px;
  top: 1064.1px;

}
.Group29-6{
  position: absolute;
  width: 31.3px;
  height: 30.24px;
  left: 1171.54px;
  top: 1064.1px;
}
.Group30-6{
  position: absolute;
  width: 32.25px;
  height: 30.24px;
  left: 1202.84px;
  top: 1064.1px;
}
.Group31-6{
  position: absolute;
  width: 32.25px;
  height: 30.24px;
  left: 1235.09px;
  top: 1064.1px;
}

.Group32-6{
  position: absolute;
  width: 31.3px;
  height: 30.24px;
  left: 1267.34px;
  top: 1064.1px;
}
.Group33-6{
  position: absolute;
  width: 32.25px;
  height: 30.24px;
  left: 1298.65px;
  top: 1064.1px;
}
.Group34-6{
  position: absolute;
  width: 34.15px;
  height: 30.24px;
  left: 1330.9px;
  top: 1064.1px;

}
.Group23-7{
  position: absolute;
  width: 32.25px;
  height: 30.24px;
  left: 978.97px;
  top: 1154.82px;
}
.Group24-7{
  position: absolute;
  width: 32.25px;
  height: 30.24px;
  left: 1011.22px;
  top: 1154.82px;

}
.Group25-7{
  position: absolute;
  width: 31.3px;
  height: 30.24px;
  left: 1043.47px;
  top: 1154.82px;

}
.Group26-7{
  position: absolute;
  width: 32.25px;
  height: 30.24px;
  left: 1074.78px;
  top: 1154.82px;
}
.Group27-7{
  position: absolute;
  width: 32.25px;
  height: 30.24px;
  left: 1107.03px;
  top: 1154.82px;

}
.Group28-7{
  position: absolute;
  width: 32.25px;
  height: 30.24px;
  left: 1139.28px;
  top: 1154.82px;
}
.Group29-7{
  position: absolute;
  width: 31.3px;
  height: 30.24px;
  left: 1171.54px;
  top: 1154.82px;
}
.Group30-7{
  position: absolute;
  width: 32.25px;
  height: 30.24px;
  left: 1202.84px;
  top: 1154.82px;

}
.Group31-7{
  position: absolute;
  width: 32.25px;
  height: 30.24px;
  left: 1235.09px;
  top: 1154.82px;

}
.Group32-7{
  position: absolute;
  width: 31.3px;
  height: 30.24px;
  left: 1267.34px;
  top: 1154.82px;
}
.Group33-7{
  position: absolute;
  width: 32.25px;
  height: 30.24px;
  left: 1298.65px;
  top: 1154.82px;
}
.Group34-7{
  position: absolute;
  width: 34.15px;
  height: 30.24px;
  left: 1330.9px;
  top: 1154.82px;
}
.Group23-8{
  position: absolute;
  width: 32.25px;
  height: 30.24px;
  left: 978.97px;
  top: 1185.06px;

}
.Group24-8{
  position: absolute;
  width: 32.25px;
  height: 30.24px;
  left: 1011.22px;
  top: 1185.06px;
}
.Group25-8{
  position: absolute;
  width: 31.3px;
  height: 30.24px;
  left: 1043.47px;
  top: 1185.06px;

}
.Group26-8{
  position: absolute;
  width: 32.25px;
  height: 30.24px;
  left: 1074.78px;
  top: 1185.06px;

}
.Group27-8{
  position: absolute;
  width: 32.25px;
  height: 30.24px;
  left: 1107.03px;
  top: 1185.06px;
}
.Group28-8{
  position: absolute;
  width: 32.25px;
  height: 30.24px;
  left: 1139.28px;
  top: 1185.06px;

}
.Group29-8{
  position: absolute;
  width: 31.3px;
  height: 30.24px;
  left: 1171.54px;
  top: 1185.06px;

}
.Group30-8{
  position: absolute;
  width: 32.25px;
  height: 30.24px;
  left: 1202.84px;
  top: 1185.06px;
}
.Group31-8{
  position: absolute;
  width: 32.25px;
  height: 30.24px;
  left: 1235.09px;
  top: 1185.06px;
}
.Group32-8{
  position: absolute;
  width: 31.3px;
  height: 30.24px;
  left: 1267.34px;
  top: 1185.06px;
}
.Group33-8{
  position: absolute;
  width: 32.25px;
  height: 30.24px;
  left: 1298.65px;
  top: 1185.06px;

}
.Group34-8{
  position: absolute;
  width: 34.15px;
  height: 30.24px;
  left: 1330.9px;
  top: 1185.06px;
}
.Group23-9{
  position: absolute;
  width: 32.25px;
  height: 31.19px;
  left: 978.97px;
  top: 1215.3px;

}
.Group24-9{
  position: absolute;
  width: 32.25px;
  height: 31.19px;
  left: 1011.22px;
  top: 1215.3px;

}
.Group25-9{
  position: absolute;
  width: 31.3px;
  height: 31.19px;
  left: 1043.47px;
  top: 1215.3px;

}
.Group26-9{
  position: absolute;
  width: 32.25px;
  height: 31.19px;
  left: 1074.78px;
  top: 1215.3px;
}
.Group27-9{
  position: absolute;
  width: 32.25px;
  height: 31.19px;
  left: 1107.03px;
  top: 1215.3px;

}
.Group28-9{
  position: absolute;
  width: 32.25px;
  height: 31.19px;
  left: 1139.28px;
  top: 1215.3px;

}
.Group29-9{
  position: absolute;
  width: 31.3px;
  height: 31.19px;
  left: 1171.54px;
  top: 1215.3px;
}
.Group30-9{
  position: absolute;
  width: 32.25px;
  height: 31.19px;
  left: 1202.84px;
  top: 1215.3px;

}
.Group31-9{
  position: absolute;
  width: 32.25px;
  height: 31.19px;
  left: 1235.09px;
  top: 1215.3px;
}
.Group32-9{
  position: absolute;
  width: 31.3px;
  height: 31.19px;
  left: 1267.34px;
  top: 1215.3px;

}
.Group33-9{
  position: absolute;
  width: 32.25px;
  height: 31.19px;
  left: 1298.65px;
  top: 1215.3px;

}.Group34-9{
  position: absolute;
  width: 34.15px;
  height: 31.19px;
  left: 1330.9px;
  top: 1215.3px;

}
.Group35{
  position: absolute;
width: 580px;
height: 893px;
left: 396px;
top: 0px;
}
.group36{
  position: relative;
  width: 219.13px;
  height: 544.33px;
  left: 581.5px;
  top: 337px;

}

.Group37{
  position: absolute;
width: 175.44px;
height: 893.99px;
left: 204px;
top: 0px;
}
.Group38{
  position: absolute;
width: 177.39px;
height: 892.1px;
left: 988.45px;
top: 0px;
}
.Group39{
position: absolute;
width: 182.13px;
height: 196.56px;
left: 1182.92px;
top: 594.42px;
}
.Group40{
  position: absolute;
width: 184.2px;
height: 184.28px;
left: 1182.92px;
top: 790.04px;

}
.Group41{
  position: absolute;
width: 189px;
height: 172px;
left: 1px;
top: 1247px;

}
.Group41-1{
  position: absolute;
width: 100.55px;
height: 110.9px;
left: 46.48px;
top: 1266px;

}
.Group42{
  position: absolute;
width: 188.77px;
height: 352.49px;
left: 0.95px;
top: 1401.47px;
}
.Group43{
  position: absolute;
width: 188.77px;
height: 240.04px;
left: 1px;
top: 1753.02px;

}
.Group43-2{
  position: absolute;
width: 107.97px;
height: 185px;
left: 41px;
top: 1791px;

}
.Group44{
  position: absolute;
width: 198.26px;
height: 171.99px;
left: 188.77px;
top: 1245.54px;
}
.Group44-2{
  position: absolute;
width: 145.14px;
height: 137.97px;
left: 213.44px;
top: 1263.5px;

}
.Group45{
  position: absolute;
width: 198.26px;
height: 175.77px;
left: 188.77px;
top: 1414.7px;

}
.Group45-2{
  position: absolute;
  width: 109.09px;
  height: 86.94px;
  left: 231.46px;
  top: 1451.56px;

}
.Group46{
  position: absolute;
  width: 198.26px;
  height: 168.21px;
  left: 188.77px;
  top: 1586.69px;
}
.Group46-2{
  position: absolute;
  width: 141.36px;
  height: 44.22px;
  left: 217.04px;
  top: 1647.21px;

}
.Group47{
  position: absolute;
  width: 173.53px;
  height: 133.83px;
  left: 200.95px;
  top: 1753.02px;

}
.Group48{
  position: absolute;
  width: 916.36px;
  height: 111.51px;
  left: 190.67px;
  top: 1882.49px;

}
.Group49{
  position: absolute;
  width: 531.22px;
  height: 129.47px;
  left: 385.14px;
  top: 1753.02px;

}
.Group51{
  position: absolute;
  width: 173.53px;
  height: 131.94px;
  left: 926.1px;
  top: 1751.13px;

}
.Group52{
  position: absolute;
  width: 192.57px;
  height: 171.05px;
  left: 916.36px;
  top: 1582.91px;
}
.Group53{
  position: absolute;
  width: 259px;
  height: 240px;
  left: 1107px;
  top: 1754px;

}
.Group53-2{
  position: absolute;
  width: 89px;
  height: 201px;
  left: 1192px;
  top: 1776px;
}
.Group54{
  position: absolute;
  width: 257.1px;
  height: 173.59px;
  left: 1108.08px;
  top: 1582.07px;

}
.Group55{
  position: absolute;
  width: 258.97px;
  height: 338.32px;
  left: 1107.03px;
  top: 1245.54px;

}
.Group55-2{
  position: absolute;
  width: 144.19px;
  height: 264.61px;
  left: 1165.84px;
  top: 1280.51px;
}
.Group56{
  position: absolute;
  width: 192.57px;
  height: 170.1px;
  left: 916.36px;
  top: 1247.43px;

}
.Group56-2{
  position: absolute;
  width: 117.16px;
  height: 113.17px;
  left: 959.99px;
  top: 1269.4px;

}
.Group57{
  position: absolute;
  width: 533.3px;
  height: 507.48px;
  left: 384.19px;
  top: 1247.43px;

}
.Group58{
  position: absolute;
  width: 192.57px;
  height: 169.16px;
  left: 916px;
  top: 1416px;
}
.Group58-2{
  position: absolute;
  width: 157.23px;
  height: 78.24px;
  left: 933px;
  top: 1458px;
